main {
    text-align: center;
}

h4.utc-time {
    color: #3771A1;
}

header {
    background-color: rgb(38, 74, 141);
}

main {
    #right_block {
        background-color: #3771A1;
    }
    #center_block {
        background-color: rgb(240, 235, 235);
        padding: 0;
    }
    #left_block {
        background-color: #777788;
    }
}

footer {
    background-color: rgb(28, 28, 48);
}

#usainbolt {
    width: 75%;
}