<%inherit file="app_base.htm" />

<%block name="title">Drugs</%block>

<%block name="center_column">
<h3 class="center">${ meds.drugname }</h3>
<p class="opiate center">${ 'OPIATE' if meds.isopioid == 1 else '' }</p>
<br>
<table class="center">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Quantity</td>
    </tr>
    %for dr in prescribers:
        <tr>
            <td>${ dr.doctorid }<br></td>
            <td>${ dr.fname } ${ dr.lname }<br></td>
            <td>${ dr.quantity }<br></td>
        </tr>
    %endfor
</table>
</%block>
